.nav{
    height: 4rem;
    width: 100%;
    z-index: 10;
    align-items: center;
    align-self: center;
}

.bottom-bar{
    height: 8px;
    width: 100%;
    background: linear-gradient(90deg, #4BFBFF 0%, #79BEC1 49.48%, #567C7E 100%);
}

.navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons{
    margin: 0 1em;
}

.fa{
    font-size: 1.1em;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 100%;
    color: white;
}

/*Styling logo*/
.logo{
    margin: 0.5em;
    padding: 0.5em 0.5em;
}

.logo img {
    height: 1.5rem;
    width: 1.5rem;
}

